<h2>Add a new Student to the Database</h2>

<form method="post">
    @*<label>First Name</label>*@
    <input type="text" name="FirstName" placeholder="Enter First Name" required/>
    <br />
    @*<label>Last Name</label>*@
    <input type="text" name="LastName" placeholder="Enter Last Name" required/>
    <br />
    @*<label>City</label>*@
    <input type="text" name="HomeCity" placeholder="Enter Home City" required/>
    <br />
    @*<label>State</label>*@
    <input type="text" name="HomeState" placeholder="Enter Home State" required/>
    <br />
    @*<label>Favorite Food</label>*@
    <input type="text" name="FavoriteFood" placeholder="Enter Favorite Food" required/>
    <br />
    <br />

    <input class="button2" type="submit" />

</form>
